/* BackgroundEffect.module.css */

.backgroundContainer {
  width: 100%;
  height: 100%;
  z-index: -1; /* Ensures the background is behind all other content */
  overflow: hidden;
}

.starsLayer1, .starsLayer2, .starsLayer3{
  /* transition: all 0.2s linear; */
  position: absolute;
  overflow: hidden;
}

.star{
  position: absolute;
  width: 1px;
  height: 1px;
  background: white;
  border-radius: 50%;
  pointer-events: none; /* Prevent interaction */
}