.orbitParent{
  transform-style: preserve-3d;
  position: relative;
  /* width is 25vw or 500px, whichever is smaller */
  width: min(25vw, 300px);
  height: min(25vw, 300px);
  margin: 0 auto;
}

.orbitImage{
  filter: invert(1);
}

.rotatingText{
  transform-style: preserve-3d;
  position: absolute;
  pointer-events: none;
  
}

.rotatingLetter{
  position: absolute;
  /* background-color: black; */
  /* border-radius: 0.3em; */
  text-shadow: 0.1em 0.1em 0.1em rgba(0,0,0,0.5), 0 0 0.1em #4eff7a;

  color: #00FF41;
  font-size: 4vw;
  transform-style: preserve-3d;
  transform-origin: 0 0;
}