.centerer{
  position: absolute;
  z-index: 1;
  width: 100%;
  aspect-ratio: 1/2;
  transform: translateY(-50%);
  pointer-events: none;

  overflow-x: hidden;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  width: 30%;
  height: 30%;
  overflow: visible;
  
}

.icon{
  z-index: 3;
  display: inline-block;
  position: absolute;
  overflow: visible;
}