/* might be the worst css i've written in a while */

.container {
  border: 0.2em solid var(--main-color);
  border-radius: 0.5em;
  width: min(60vw, 800px);
  height: 3em;
  margin: 0.5em auto;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  position: relative;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.05);
}

.container .flexContainer {
  width: 100%;
  height: 3em;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.05);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container .iconHolder {
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.05);
  margin-left: 1em;
  height: 2.5em;
  width: 2.5em;
}

.container .iconHolder img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.container .learntAtIconHolder {
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.05);
  margin-right: 1em;
  height: 2.5em;
  width: 2.5em;
}

.container .learntAtDivider{
  
  
  height: 0;
  width: 0;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.05);
  position: absolute;
  
  margin: 0;
  padding: 0;
  bottom: 0;
  right: 0;
  margin-right: 4em;


  display: flex;
  justify-content: center;
  align-items: center;

}

.container:hover .learntAtDivider{
  width: auto;
  height: 4em;
}

.container .learntAtPrefix{
  padding: 0;
  margin: 0;
  text-align: right;
}

.container a{
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: inline-block;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.05);
}

.container a:hover{
  transform: scale(1.1);
  cursor: pointer;
}

.container .learntAtIconHolder img {
  width: 100%;
  height: 100%;
}

.container .title {
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.05);
  margin: 0 1em;
  font-size: 1.25em;
  text-align: center;
}

.container .description {
  height: 0;
  overflow: hidden;
  margin: 0 1em;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.05);
}

.container:hover{
  height: 12em;
}

.container:hover .description {
  height: 4em;
}

.container:hover .flexContainer {
  height: 5em;
}

.container:hover .iconHolder {
  height: 4em;
  width: 4em;
}

.container:hover .learntAtIconHolder {
  /* element is no longer part of flexbox */
  /* position it at bottom right of container */
  position: absolute;
  bottom: 0;
  right: 0;
  height: 4em;
}

.container:hover .title{
  font-size: 1.5em;
  text-align: right;
  color: var(--main-color);
}

.invert{
  filter: invert(1);
}

/* mobile */
@media (max-width: 600px) {
  .container {
    width: 90vw;
  }

  .container:hover{
    height: 15em;
  }

  .container .title {
    font-size: 1em;
  }

  .container:hover .description {
    margin: 0 0.5em;
    height: 7em;
  }

  .container .iconHolder {
    margin-left: 0.5em;
  }

  .container .learntAtIconHolder {
    margin-right: 0.5em;
  }
}