html{
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: linear-gradient(to bottom, #000010, #002040, #000010);
  background-repeat: repeat-y;
  background-size: 100% 20%;
  background-color: #000010;
  color: white;
}

section{
  min-height: 100vh;
}

section:not(:first-of-type){
  margin-top: 15vh;
}