html{
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: black;
  color: white;
}

section{
  min-height: 100vh;
}

section:not(:first-of-type){
  margin-top: 15vh;
}