.hero{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}


.socialLink{
  pointer-events: all;
  width: min(5vw, 2em);
  height: min(5vw, 2em);
  margin: 0.5em;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.05);
  display: inline-block;
  z-index: 5;
}

a.socialLink:hover{
  transform: scale(1.2);
}

.socialLink img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

a.socialLink img{
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.05);
}

a.socialLink:hover img {
  filter: invert(59%) sepia(94%) saturate(1844%) hue-rotate(89deg) brightness(114%) contrast(110%);
}

.invert{
  filter: invert(1);
}

.heading{
  margin: 0;
  margin-top: 20vh;
  font-size: 3em;
  color: #00FF41;
  text-align: center;
}

.paragraphHolder{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.paragraph{
  margin: 0.5em 5vw;
  font-size: 1.1em;
  display: inline-block;
  text-align: center;
}

.paragraphLink{
  color: #00FF41;
  text-decoration: none;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.05);
  display: inline-block;
  border-radius: 0.4em;
  padding: 0.2em;
}

.paragraphLink:hover{
  color: white;
  transform: scale(1.01);
  background-color: #00FF41;
}

.spaceTop{
  margin-top: 40vh;
}

.smLinksHolder{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

@media (max-width: 800px){
  .socialLink{
    width: 2em;
    height: 2em;
  }
}